/* Colors */
:root {
  --header-footer-background-color: #455a64;
  --header-footer-font-color: #FFF;
  --table-background-color1: #eaeaef;
  --table-background-color2: #fbfbff;
  --color: #2f3d44;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  line-height: 3.0rem;
}

.container {
  max-width: 730px;
  min-width: 400px;
}

header,
footer {
  display: block;
  padding: 15px 30px;
  background-color: var(--header-footer-background-color);
  color: var(--header-footer-font-color);
  border-radius: 6px;
}

header {
  text-align: left;
}

header .address {
  color: #B6B6B4;
}

header > h1 .img-circle {
  width: 150px;
  height: 150px;
  float: right;
}

.content, a {
  color: var(--color);
}

img {
  width: 20px;
}

a:hover > img {
  width: 22px;
}

a.social-link {
  display: inline-block;
  width: 24px;
  height: 30px;
}

.table-striped > tbody > tr {
  background-color: var(--table-background-color2);
}

.table-striped > tbody > tr > td {
  border-top: none;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: var(--table-background-color1);
}

.table-striped > tbody > tr > td > a {
  text-decoration: none;
}

.table-striped > tbody > tr > td > a:hover {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  header > h1 .img-circle {
    width: 120px;
    height: 120px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 515px) {
  body {
    font-size: 1.3rem;
    line-height: 2.6rem;

  }

  header > h1 .img-circle {
    width: 120px;
    height: 120px;
    margin-top: 20px;
  }
}
